:root {
  --color-darkGreen: #202B17;
  --color-lightGreen: #F3FE79;
  --color-purple: #C8ACE7;
  --color-orange: #CB9A51;
  --color-gray: #EDEDED;
  --color-white: #fff;
  --color-black: #000000;
}

body {
  padding-top: 5.1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

ul {
  list-style: none;
}

/* NAVIGATION BAR STYLES */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--color-darkGreen);
  z-index: 1000;
  display: flex;
  padding: 1.6rem 0;
  justify-content: center;
  border-bottom: var(--color-lightGreen) 0.3rem solid;
  text-transform: uppercase;
}

.nav-list {
  display: flex;
  gap: 30px;
  color: var(--color-white);
  cursor: pointer;
  font-size: 1.125rem;
}

.nav-list:hover {
  color: var(--color-lightGreen);
}

.active {
  color: var(--color-purple);
}

/* HEADER PERSONAL INFORMATION */
header {
  padding: 3rem 0;
  background-color: var(--color-darkGreen);
  display: flex;
  justify-content: center;
  gap: 10rem;
  color: var(--color-white);
}

.name {
  background-color: var(--color-purple);
  padding: 0rem 2rem;
  color: var(--color-darkGreen);
  font-size: 2rem;
  margin: 1rem 0;
}

.first-occupation {
  font-size: 3rem;
  color: var(--color-purple);
}

.sec-occupation {
  text-align: center;
  display: block;
  font-size: 2.5rem;
}

.social-icons {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.social-icons a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-purple);
  font-size: 1rem;
}

.social-icons a:hover {
  color: var(--color-lightGreen);
}

/* PORTFOLIO PROJECTS SECTION */
.portfolio-section {
  padding: 2rem 0;
  background-color: var(--color-gray);
}

.portfolio-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

.filter-categories {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.filter-btn {
  padding: 0.7rem 2rem;
  background-color: var(--color-purple);
  border: none;
  cursor: pointer;
  border-radius: 2rem;
  font-size: 1rem;
}

.filter-btn.active,
.filter-btn:hover {
  background-color: var(--color-lightGreen);
  color: var(--color-black);
}

.card-container a {
  color: var(--color-black);
}

.projects-cards {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 1.5rem;
  align-items: stretch;
}

.card-body {
  padding: 0.3rem;
  border: rgb(0, 0, 0) 0.2rem solid;
  border-radius: 0.8rem;
}

.card-body:hover {
  background-color: var(--color-purple);
}

.card-content {
  padding: 1rem;
}

.card-content h4 {
  border-bottom: var(--color-black) 0.1rem solid;
  padding: 0.3rem 0;
  margin: 1rem 0;
}

.card-image {
  width: 100%;
  height: 200px;
  border-radius: 1rem;
  object-fit: cover;
  margin: 1rem 0;
}

.card-content p {
  margin: 0.5rem 0;
}

.role-projects {
  display: inline-block;
  background-color: var(--color-lightGreen);
  padding: 0.5rem;
}

/* RESUME SECTION */
.resume-container {
  background-color: var(--color-lightGreen);
  text-align: center;
  padding: 2.5rem 0;
}

.resume-text {
  margin-bottom: 2rem;
}

.resume-anchor {
  background-color: var(--color-darkGreen);
  color: var(--color-white);
  padding: 1rem 3rem;
  cursor: pointer;
  border: none;
}

.resume-btn:hover {
  color: black;
  background-color: var(--color-purple);
}

/* FOOTER STYLES */
footer {
  background-color: var(--color-purple);
}

.footer-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
}

footer h6 {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: var(--color-black) 0.1rem solid;
}

.footer-content {
  flex: 1 1 250px;
}

.footer-content li {
  gap: 0.6rem;
  display: flex;
  margin-bottom: 0.3rem;
}

.footer-titles {
  text-transform: uppercase;
  display: inline-block;
  background-color: var(--color-lightGreen);
  padding: 0 3rem;
  margin-bottom: 1rem;
}

.institution-name {
  margin-bottom: 0.5rem;
}

/* TABLETS */
@media (max-width: 1024px) {

  /* HEADER PERSONAL INFORMATION */
  header {
    padding: 2rem 0;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  /* SKILLS SECTION */
  .skills-container {
    gap: 10rem;
  }

  /* FOOTER SECTION */
  .footer-content {
    margin-bottom: 3rem;
  }
}

/* MOBILE */
@media (max-width: 767px) {

  /* HEADER PERSONAL INFORMATION */
  .name {
    font-size: 1.5rem;
  }

  .first-occupation {
    font-size: 2rem;
    margin: 1.5rem 0 0.5rem;
  }

  .sec-occupation {
    font-size: 1.8rem;
  }

  /* SKILLS SECTION */
  .skills-container {
    gap: 1.5rem;
    margin-left: 2rem;
  }

  .title-skills {
    padding: 0.5rem 0;
    margin-bottom: 1rem;
  }

  .resume-container {
    margin: 1rem 0;
    padding: 1.5rem 0;
  }

  .resume-text {
    text-align: left;
  }

  .resume-btn {
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
  }
}