:root {
  --color-darkGreen: #4A522D;
  --color-lightGreen: #C5C8B7;
  --color-darkPink: #da695f;
  --color-mediumPink: #EEC5C1;
  --color-lightPink: #FEE2DE;
  --color-white: #fff;
}

body {
  overflow: hidden;
  overflow-y: scroll;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;

}

h1,
h2,
h3,
h4 {
  font-size: 24px;
}

.navbar {
  width: 100%;
  height: 5rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 3;
  border-top: var(--color-mediumPink) 5px solid;
  background-color: var(--color-darkGreen);
}

.navListDesktopItem {
  justify-content: space-between;
  color: var(--color-white);
  margin: 4%;
  cursor: pointer;
}

.active {
  color: var(--color-mediumPink);
}

.mobMenu {
  margin-left: 80%;
  display: none;
  width: 40px;
}

.navMenu {
  position: absolute;
  top: 4rem;
  right: 2rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  cursor: pointer;
  height: fit-content;
  min-width: 15rem;
  background: var(--color-darkGreen);
  border-radius: 1rem;
}

.listItem {
  padding: 0.5rem 4rem;
  margin: 0.15rem;
}

.mainInfo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  z-index: 1;
  width: 100%;
  background-color: var(--color-lightGreen);
}

.mainInfo:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/img/personal_banner.png") no-repeat center;
  background-size: cover;
  z-index: -1;
  filter: blur(50px);
}

.personal_img {
  width: 20%;
  z-index: 1;
  border-radius: 50%;

  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 10px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

.infoContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
  margin-left: 8%;
}

.greeting {
  margin-top: 10%;
  font-size: 24px;
}

.infoText {
  font-size: 36px;
  margin-bottom: 15px;
}

.infoName {
  color: var(--color-darkPink);
  font-size: 40px;
}

.infoParagraph {
  font-size: 20px;
  margin-bottom: 10%;
}

.skillsSection {
  background-image: linear-gradient(to right, #FEE2DE 0%, #FEE2DE 50%, #4A522D 50%, #4A522D 100%);
  position: relative;
  border-radius: 15px;
  padding: 2% 2%;
  height: auto;
  margin-top: 20px;
  z-index: 1;
  margin-left: 6%;
  margin-right: 8%;
  margin-bottom: 50px;
}

.skillsContent {
  color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.computerImg {
  width: 35%;
  border-radius: 10px;
  margin-left: 5%;
}

.infoSkillsList {
  margin-left: 15%;
}

.logosSkills {
  width: 14%;
  margin-right: 3%;
  padding: 1%;
  background-color: #e0d9d9;
}

.skillsTitle {
  font-weight: 600;
  font-size: 19px;
}

.skillsItems {
  display: flex;
  flex-direction: column;
}

.skillsItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 15px;
  padding: 25px;
  background-image: linear-gradient(90deg,
      rgba(165, 215, 232, 0.42) 0%,
      rgba(255, 255, 255, 0) 100%);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
}

.skillsItem:hover {
  background-size: 100% 100%;
}

.cvSection {
  background-color: var(--color-mediumPink);
  width: 100%;
  height: 110px;
  text-align: center;
  padding: 20px;
}

.btn {
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
  background-color: var(--color-darkGreen);
  color: var(--color-white);
  padding: 5px 15px;
  cursor: pointer;
  border: none;
}

.btn:hover {
  color: black;
  background-color: var(--color-darkPink);
}

.portfolioSection {
  margin-top: 40px;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1c9;
  margin-bottom: 50px;
}

.portfolioContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
  margin-left: 8%;
  margin-right: 8%;
}

.titlePortfolio {
  margin-bottom: 1%;
}

.portfolioContent a {
  text-decoration: underline;
}

a:visited {
  color: #4A522D;
}

.projectsSection {
  position: relative;
  padding: 2% 2%;
  z-index: 1;
  margin-left: 5%;
  margin-right: 8%;
  background-image: linear-gradient(90deg,
      rgba(223, 177, 198, 0.42) 0%,
      rgba(255, 255, 255, 0) 100%);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
}

.projectsSection:hover {
  background-size: 100% 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imgProject {
  border-radius: 10px;
  width: 20%;
  margin-left: 10%;
  border: 3px solid var(--color-darkGreen);
  margin-bottom: 1%;
}

.infoProjects {
  margin-left: 20px;
}

.cetav {
  margin-right: 26%;
}

.nameProject {
  font-weight: 600;
  font-size: 19px;
  margin-bottom: 20px;
}

.rolTag {
  background-color: var(--color-mediumPink);
  border-radius: 15px;
  padding: 5px 20px;
}

.techInfo {
  color: var(--color-darkGreen);
  margin-left: 20px;
}

.textProjects {
  margin-top: 20px;
}

.textProjects p {
  margin-bottom: 20px;
}

.work-wrap {
  border-bottom: 2px solid var(--color-mediumPink);
}

.linkProjects {
  text-decoration: underline;
}

.contactSection {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 100px;
}

.contactSection :after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/img/personal_banner.png") no-repeat center;
  background-size: cover;
  z-index: -1;
  filter: blur(50px);
}

.contact-box {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--color-white);
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.leftSiteForm {
  height: 35%;
  background: url("../assets/img/personal_banner.png") no-repeat center;
  background-size: cover;
}

.rightSiteForm {
  padding: 25px 40px;
}

h3 {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

h3:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #4A522D;
}

.field {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid;
  background-color: var(--color-lightPink);
  margin-bottom: 22px;
  transition: .3s;
}

.field:hover {
  background-color: var(--color-mediumPink);
}

.field:focus {
  background-color: var(--color-white);
  border: 2px solid var(--color-darkGreen);
}

.msg {
  min-height: 150px;
}

.footer {
  color: var(--color-white);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 100%;
  background-color: var(--color-darkGreen);
}

.footerContent {
  margin-left: 8%;
}

.socialMedia {
  width: 55px;
  height: 55px;
  justify-content: space-between;
  margin: 4%;
  cursor: pointer;
}

@media screen and (max-width: 830px) {
  .navbar {
    width: 100%;
    height: 50px;
  }

  .mobMenu {
    display: flex;
  }

  .navElementsDesktop {
    display: none;
  }

  .mainInfo {
    flex-direction: column-reverse;
  }

  .infoContent {
    align-items: center;
  }

  .skillsSection {
    padding-left: 0;
    padding-right: 0;
  }

  .skillsContent {
    color: #000000;
    flex-direction: column;
  }

  .computerImg {
    display: none;
  }

  .logosSkills {
    background-color: transparent;
  }

  .skillsItems {
    margin-top: 20px;
  }

  .skillsItem {
    padding-left: 0;
    padding-right: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
  }

  .contact-box {
    grid-template-columns: 1fr;
  }

  .leftSiteForm {
    height: 110px;
  }

  .socialMedia {
    width: 40px;
    height: 40px;
  }
}