:root {
  --color-darkGreen: #4A522D;
  --color-lightGreen: #C5C8B7;
  --color-darkPink: #da695f;
  --color-mediumPink: #EEC5C1;
  --color-lightPink: #FEE2DE;
  --color-white: #fff;
}

/* body {
  overflow: hidden;
  overflow-y: scroll;
} */
body {
  padding-top: 5.1rem;
  /* padding-top: 1.6rem; */
  /* espacio para el navbar fijo */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* font-size: 16px; */
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 24px;
}

/* NAVIGATION BAR STYLES */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--color-darkGreen);
  z-index: 1000;
  display: flex;
  padding: 1.6rem 0;
  /* 1.5rem = ~24px */
  justify-content: center;
  border-bottom: var(--color-mediumPink) 0.3rem solid;
  /* 0.3rem = ~5px */
}

.nav-list {
  display: flex;
  gap: 30px;
  color: var(--color-white);
  cursor: pointer;
  font-size: 1.125rem;
  /* 1.125rem = ~18px */
}

.active {
  color: var(--color-mediumPink);
}


/* HEADER PERSONAL INFORMATION */
.header {
  padding: 3rem 0;
  background-color: var(--color-lightGreen);
}

.info-content {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
}

.name {
  font-size: 2rem;
}

.first-occupation {
  font-size: 3rem;
  margin: 1.5rem 0 2rem;
  color: var(--color-darkPink);
}

.sec-occupation {
  display: block;
  font-size: 2.5rem;
  color: black;
}

.social-icons {
  display: flex;
  gap: 2rem;
}

.social-icons a {
  display: flex;
  flex-direction: column;
  /* ícono arriba, texto abajo */
  align-items: center;
  /* text-decoration: none; */
  color: var(--color-darkPink);
  font-size: 1rem;
  /* tamaño del texto debajo del ícono */
}

/* SKILLS SECTION */
.skills-container {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
  justify-content: center;
}

.title-skills {
  border-block: 0.2rem solid var(--color-darkGreen);
  padding: 0.8rem 6rem 0.8rem 0.5rem;
  margin-bottom: 2rem;
}

.skills-column ul {
  list-style: none;
}

.skills-column li {
  margin-bottom: 0.3rem;
}

.resume-container {
  background-color: var(--color-mediumPink);
  text-align: center;
  padding: 2.5rem 0;
}

.resume-text {
  margin-bottom: 2rem;
}

.resume-btn {
  background-color: var(--color-darkGreen);
  color: var(--color-white);
  padding: 1rem 3rem;
  cursor: pointer;
  border: none;
}

.resume-btn:hover {
  color: black;
  background-color: var(--color-darkPink);
}

/* PORTFOLIO PROJECTS SECTION */
.portfolio-section {
  margin: 0 1rem;
}

.portfolio-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

.filter-categories {
  margin-top: 4rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.filter-btn {
  padding: 0.7rem 2rem;
  background-color: var(--color-darkGreen);
  color: var(--color-white);
  border: none;
  cursor: pointer;
  border-radius: 2rem;
}

.filter-btn.active,
.filter-btn:hover {
  background-color: var(--color-darkPink);
  color: var(--color-white);
}

.card-container a {
  color: black;
}

.projects-cards {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 1.5rem;
  align-items: stretch;
}

.card-body {
  padding: 0.5rem;
  border: rgb(0, 0, 0) solid;
  border-radius: 0.8rem;
}

.card-body:hover {
  background-color: var(--color-lightPink);
}

.card-content {
  padding: 1rem;
}

.card-content h4 {
  border-bottom: #4A522D 0.1rem solid;
  padding: 0.5rem 0;
  margin: 2rem 0;
}

.card-image {
  width: 100%;
  height: 200px;
  border-radius: 1rem;
  object-fit: cover;
  margin: 1rem 0;
}

.card-content p {
  margin: 1rem 0;
}

.role-projects {
  background-color: var(--color-mediumPink);
  border-radius: 1rem;
  padding: 0.5rem 0.2rem;
}

.tech-projects {
  color: var(--color-darkGreen);
}


/* .portfolioSection {
  margin-top: 40px;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1c9;
  margin-bottom: 50px;
}

.portfolioContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
  margin-left: 8%;
  margin-right: 8%;
}

.titlePortfolio {
  margin-bottom: 1%;
}

.portfolioContent a {
  text-decoration: underline;
}

a:visited {
  color: #4A522D;
}

.projectsSection {
  position: relative;
  padding: 2% 2%;
  z-index: 1;
  margin-left: 5%;
  margin-right: 8%;
  background-image: linear-gradient(90deg,
      rgba(223, 177, 198, 0.42) 0%,
      rgba(255, 255, 255, 0) 100%);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
}

.projectsSection:hover {
  background-size: 100% 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imgProject {
  border-radius: 10px;
  width: 20%;
  margin-left: 10%;
  border: 3px solid var(--color-darkGreen);
  margin-bottom: 1%;
}

.infoProjects {
  margin-left: 20px;
}

.cetav {
  margin-right: 40%;
}

.plants {
  margin-right: 30%;
}

.nameProject {
  font-weight: 600;
  font-size: 19px;
  margin-bottom: 20px;
}

.rolTag {
  background-color: var(--color-mediumPink);
  border-radius: 15px;
  padding: 5px 20px;
}

.techInfo {
  color: var(--color-darkGreen);
  margin-left: 20px;
}

.textProjects {
  margin-top: 20px;
}

.textProjects p {
  margin-bottom: 20px;
}

.work-wrap {
  border-bottom: 2px solid var(--color-mediumPink);
}

.linkProjects {
  text-decoration: underline;
} */

.contactSection {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 100px;
}

.contactSection :after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/img/personal_banner.png") no-repeat center;
  background-size: cover;
  z-index: -1;
  filter: blur(50px);
}

.contact-box {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--color-white);
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.leftSiteForm {
  height: 35%;
  background: url("../assets/img/personal_banner.png") no-repeat center;
  background-size: cover;
}

.rightSiteForm {
  padding: 25px 40px;
}

/* h3 {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

h3:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #4A522D;
} */

.field {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid;
  background-color: var(--color-lightPink);
  margin-bottom: 22px;
  transition: .3s;
}

.field:hover {
  background-color: var(--color-mediumPink);
}

.field:focus {
  background-color: var(--color-white);
  border: 2px solid var(--color-darkGreen);
}

.msg {
  min-height: 150px;
}

.footer {
  color: var(--color-white);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 100%;
  background-color: var(--color-darkGreen);
}

.footerContent {
  margin-left: 8%;
}

.socialMedia {
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  margin: 5%;
  cursor: pointer;
}

/* TABLETS */
@media (max-width: 1024px) {

  /* HEADER PERSONAL INFORMATION */
  .info-content {
    margin-left: 3rem;
  }

  /* SKILLS SECTION */
  .skills-container {
    gap: 10rem;
  }
}

/* MOBILE */
@media (max-width: 767px) {

  /* HEADER PERSONAL INFORMATION */
  .name {
    font-size: 1.5rem;
  }

  .first-occupation {
    font-size: 2rem;
    margin: 1.5rem 0;
  }

  .sec-occupation {
    font-size: 1.8rem;
  }

  /* SKILLS SECTION */
  .skills-container {
    gap: 1.5rem;
    margin-left: 2rem;
  }

  .title-skills {
    padding: 0.5rem 0;
    margin-bottom: 1rem;
  }

  .resume-container {
    margin: 1rem 0;
    padding: 1.5rem 0;
  }

  .resume-text {
    text-align: left;
  }

  .resume-btn {
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
  }
}





@media screen and (max-width: 830px) {

  /*   .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
  } */

  .contact-box {
    grid-template-columns: 1fr;
  }

  .leftSiteForm {
    height: 110px;
  }

  .socialMedia {
    width: 40px;
    height: 40px;
  }
}